# Supabase
VITE_SUPABASE_URL=https://TU_PROJECT_ID.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGc...tu_anon_key_aqui

# Firebase Cloud Messaging (Push Notifications)
VITE_FIREBASE_API_KEY=AIzaSyC6z4uvYd1TVHzTN7zuE36R3nkiJBHx6rw
VITE_FIREBASE_AUTH_DOMAIN=pidoo-push.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=pidoo-push
VITE_FIREBASE_STORAGE_BUCKET=pidoo-push.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=797553895667
VITE_FIREBASE_APP_ID=1:797553895667:web:a2797733db94b6116daf86
VITE_FIREBASE_VAPID_KEY=BCi6cNn5m6sQtE5c00relAV4Gy91ZaceufC-aqC4DjF0cU6WvX8qlOm1NjOrIEhk_x-y8sf67Z453XJopHlE7WY
